#container {
	margin: 0 auto;
	text-align: center;
}

#container>h1 {
	font-size: 3em;
	margin-top: 3em;
}

.photo {
	display: inline;
	margin-left: 2vw;
	width: 30vw;
	height: 43vh;
	vertical-align: top;
	margin-bottom: 1em;
}

.photo.ng-enter, .photo.ng-move {
  transition: all 5s linear;
  opacity: 0;
}

.photo.ng-enter.ng-enter-active, 
.photo.ng-move.ng-move-active {
	transition-delay: 1s;
	opacity: 1;
}