#container {
	margin: 0 auto;
	text-align: center;
}

#container>h1 {
	font-size: 2.6em;
	margin-top: 3.4em;
	margin-bottom: 0.3em;
}

.photo {
	display: inline;
	margin-left: 2vw;
	width: 30vw;
	height: 43vh;
	vertical-align: top;
	margin-bottom: 1em;
	border-radius: 10px;
	box-shadow: 10px -5px 5px black;
	border: 1px solid black;
}

.photo.ng-move,
.photo.ng-enter {
  -webkit-transition: all .5s ease-in;
}

.photo.ng-enter-stagger,
.photo.ng-leave-stagger {
	transition-delay: 0.4s;
}

.photo.ng-leave.ng-leave-active,
.photo.ng-move,
.photo.ng-enter {
  opacity: 0;
}

.photo.ng-enter.ng-enter-active,
.photo.ng-move.ng-move-active,
.photo.ng-leave.ng-leave.active {
	opacity: 1;
}

input[type=text], button {
	font-size: 120%;
	max-width: 63vw;
}