<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Flickr Searcher</title>
</head>
<body ng-app="flkr" ng-controller="mainCtrl as vm">
	
	<section id="container">
		<h1>Flickr Searcher</h1>
		<form ng-submit="vm.exeSearch()" name="search">
			<input type="text" ng-model="vm.searchTag" placeholder="Search Term" required autofocus>
			<button>Submit</button>
		</form>
		<article id="searching" ng-if="vm.searching" ng-cloak>
			<h3>Searching Instagram for photos tagged with "{{vm.currentTag}}"</h3>
		</article>
		<article id="message" ng-if="vm.success" ng-cloak>
			<h3>We found {{vm.results.length}} results for "{{vm.currentTag}}"</h3>
		</article>

	</section>
	<section id="results" ng-if="vm.success" ng-cloak>
			<img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="{{photo.title}}" class="photo" ng-repeat="photo in vm.results">
	</section>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/angular-animate.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>